<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="desoft.studio.webpocket">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera.any"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="desoft.studio.webpocket.Wpappli"
        android:theme="@style/Theme.WebPocket"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3254181174406329~3007920370" />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name="desoft.studio.webpocket.SplashActivity"
            android:exported="true"
            android:theme="@style/KusSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="desoft.studio.webpocket.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
        </activity> <!-- android:windowSoftInputMode="adjustResize|stateVisible"> -->

        <activity
            android:name="desoft.studio.webpocket.WebPagesActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="desoft.studio.webpocket.MainActivity" />

        <activity
            android:name="desoft.studio.webpocket.SkanActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:exported="false" />
    </application>

</manifest>