<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="desoft.studio.webpoint">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebPoint"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3254181174406329~3007920370" />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true"/>

        <activity
            android:name=".SplashActi"
            android:theme="@style/KusSplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            >
        </activity>
<!--            android:windowSoftInputMode="adjustResize|stateVisible">-->

        <activity
            android:name=".WebPagesActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>


    </application>

</manifest>